{% extends 'zombieApocalypse/base.html.twig' %}

{% block body %}
<h1>Zombie Apocalypse</h1>
    <input type="text" id="username"></input>
    <a class="btn btn-primary" href="{{ path('start', {'username': 'Dave', 'from': 'N'}) }}" >Create User</a>

{% endblock %}